<!--- Hero Image -->
<div class="container-fluid about-hero padding">
    <h1 class="about-hero__header padding">Thank you for being here</h1>
</div>

<!--- One Column Section -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2 col-xs-10 offset-xs-1">
            <h2 class="display-4 text-center">About Zoë</h2>
            <hr class="light">
            <p>I believe strongly that parenthood is marvelous and complex but that it is also really hard. I also think  that it deserves far more care, attention, and support than most receive. As both a mother and a therapist, I am well versed in the opportunities for pain and struggle that parenthood brings. I have devoted myself to helping individuals and couples navigate these challenges, so that they may more fully experience the joy of this task.</p>
            <p>In working with clients, I take a compassionate, solution-oriented approach. I listen closely and kindly and cultivate a space of rest and reflection. I help people create solutions to complex problems and works with concerns such as infertility, perinatal loss, perinatal depression and anxiety, and birth trauma.</p>
            <p>Although I have active, problem-solving approach, listening within the context of my professional experience, I also attend to you as another human being and as a fellow mother who is on a similar journey. You are not alone and you will leave feeling that.</p>
        </div>
    </div>
</div>

<!--- One Column Section -->
<div class="container-fluid padding">
    <div class="row">
        <div class="col-md-8 offset-md-2 col-xs-10 offset-xs-1">
            <h2 class="display-4 text-center">My Philosophy</h2>
            <hr class="light">
            <p>In conceptualizing clients and their concerns I take an ecosystemic and attachment-based perspective. This means that I consider client’s early relationships with caregivers as they affect present functioning as well as the larger familial and social context in a client’s life.</p>
			<p>I focus on providing compassionate and attentive support to clients as they articulate their thoughts, feelings and struggles, and believe that this context is necessary for the definition and resolution of problems. The client and I determine goals for therapy in collaboration, with the ultimate objective being to resolve current problems and improve overall functioning.</p>
			<p>I assist client in this process through a variety of strategies beginning with reflective listening, increasing client’s awareness of physical/emotional sensations and helping clients identify cognitive and relational patterns. I also use techniques such as empty chair work, role-playing and “homework in between sessions.</p>
        </div>
    </div>
</div>

<!--- One Column Section -->
<div class="container-fluid padding">
    <div class="row">
        <div class="col-md-8 offset-md-2 col-xs-10 offset-xs-1">
            <h2 class="display-4 text-center">Cost + Commitment to Affordability</h2>
            <hr class="light">
            <p>I charge $75 for a 55-minute individual session, $100 for a 55-minute couples session, and $30 for a 90-minute group session. However, I am committed to making sure that all interested clients receive services.</p>
            <p><strong>I do not turn clients away if they would like to receive services and cost is a barrier.</strong> Email or call me to discuss what is affordable for you and we will make it work. If you want to be here, we will find a way. You are welcome here, no matter what you can pay.</p>
        </div>
    </div>
</div>