<!--- Hero Image -->
<div class="container-fluid faq-hero padding"></div>

<!--- One Column Section -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2 col-xs-10 offset-xs-1">
            <h2 class="display-4 text-center">Frequently Asked Questions</h2>
            <hr class="light padding">
            
            <h2>I'm nervous and I'm not sure therapy is worth it. Should I still contact you?</h2>
            <p class="padding">Yes. It's common to have anxieties and doubts surrounding pursuing psychotherapy. I've found that many of my clients have trouble prioritizing this sort of care and they wonder if it is a luxury. What many report is that after beginning therapy, they realize it was actually a necessity all along and it enlivens them as well as their loved ones. I am happy to discuss your concerns and doubts with you in a brief, free phone consultation.</p>

            <h2>I want to receive services but I'm not sure I can afford your rate. Is that a dealbreaker?</h2>
            <p class="padding">Absolutely not! I do not allow finances to be a barrier when it comes to offering services. Call or email and we can discuss a way to make this work.</p>

            <h2>Why don't you take insurance?</h2>
            <p class="padding">After working in large community mental health agencies for several years I began to notice that much of the work I did was dictated by insurance companies. It limited the quality of care I could provide. I don't take insurance because I want to make sure I can provide the quality of care I'd like to. It also allows me to collaborate with others and provide more holistic and multi-faceted care.</p>

            <h2>Do you work with dads?</h2>
            <p class="padding">Yes! I work with men and women surrounding the transition into parenthood. Dads go through a process of transition just like moms and I care just as much about supporting them in this.</p>

            <h2>Can I bring my newborn with me to the session?</h2>
            <p class="padding">Yes. Babies in arms are welcome here.</p>
        </div>
    </div>
</div>