<!--- Hero Image -->
<div class="container-fluid groups-hero"></div>

<!--- Two Column Section -->
<div class="container-fluid">
    <div class="row text-center">
        <div class="col-md-8 offset-md-2 col-xs-10 offset-xs-1">
            <h2 class="display-4 text-center">Group Therapy</h2>
            <hr class="light padding">
            <blockquote class="blockquote">
                <p class="mb-0">"Healing is impossible in loneliness...it is the opposite of loneliness."</p>
                <footer class="blockquote-footer">Wendell Berry</footer>
            </blockquote>

            <p class="padding">We need others and kind, attentive support during life upheaving transitions like pregnancy and the birth of a child. These groups are gentle and communal, providing psychoeducation, coping strategies, and opportunities to process changes with others who get it. Although there is a cost associated with groups, financial assistance is available and no one who wants to be here will be turned away. All welcome. Come heal &amp; grow together.</p>

            <h3 class="display-5">PRENATAL GROUP</h3>
            <p>Pregnancy is a baffling season of transition.<br>Come process the changes with others who get it and prepare for the transitions ahead.</p>
            <p><strong>This group is meeting:</strong> TBA</p>
            <p><strong>This group is currently on hold as we make some adjustments</strong></p>
            <p class="padding">$30 per session (financial assistance available)</p>

            <h3 class="display-5">POSTPARTUM GROUP</h3>
            <p>Gentle and communal, this group is for women who have given birth in the past year.<br>Come process this transition and draw on the support of others who understand. Babies welcome.</p>
            <p><strong>This group is meeting:</strong> TBA</p>
            <p><strong>This group is currently on hold as we make some adjustments</strong></p>
            <p>$30 per session (financial assistance available)</p>
            <hr class="light">
            <p>please <%- link_to('tel:1-717-743-1211', 'call', {external: true}) %> or <%- link_to('mailto:zoe@endicottcounseling.com', 'email Zoe', {external: true}) %> with questions about groups. Otherwise, click 'Connect' below to let us know a bit about yourself.</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-8 offset-md-2 col-xs-10 offset-xs-1">
            <button class="btn btn-primary btn-lg js-typeform text-center">Connect</button>
        </div>
    </div>
</div>