<!--- Hero Image -->
<div class="container-fluid groups-hero"></div>

<!--- Two Column Section -->
<div class="container-fluid">
    <div class="row text-center">
        <div class="col-md-8 offset-md-2 col-xs-10 offset-xs-1">
            <h2 class="display-4 text-center">Group Therapy</h2>
            <hr class="light padding">
            <blockquote class="blockquote">
                <p class="mb-0">"Healing is impossible in loneliness...it is the opposite of loneliness."</p>
                <footer class="blockquote-footer">Wendell Berry</footer>
            </blockquote>

            <p class="padding">Zoe is currently in the process of collaborating with perinatal therapist and doula Alyson Winter to form a free postpartum support group in Concord, NC. Please email Zoe to express interest and to be notified about its status and location.</p>
            <p>Interested in a group you don't see listed? Let us know! New groups are determined by need and interest.</p>

            <hr class="light">
            <p>please <%- link_to('tel:1-717-743-1211', 'call', {external: true}) %> or <%- link_to('mailto:zoe@endicottcounseling.com', 'email Zoe', {external: true}) %> with questions about groups. Otherwise, click 'Connect' below to let us know a bit about yourself.</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-8 offset-md-2 col-xs-10 offset-xs-1">
            <button class="btn btn-primary btn-lg js-typeform text-center">Connect</button>
        </div>
    </div>
</div>