<div class="container-fluid hero">
  <h1 class="hero__header">It's not easy being a human</h1>
</div>

<!--- Jumbotron -->
<div class="container-fluid">
  <div class="row jumbotron">
    <div class="col-xs-12 col-sm-12 col-md-6">
      <p class="lead">
        When you are ready to connect, tell me a bit about yourself in this
        quick questionnaire.
      </p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
      <button
        type="button"
        class="btn btn-outline-primary btn-lg btn-block js-typeform"
      >
        Let's Connect
      </button>
    </div>
  </div>
</div>

<!--- Counseling Services -->
<div class="container-fluid padding care">
  <div class="row text-center">
    <div class="col-12">
      <h1 class="display-4">Counseling Services Offered</h1>
    </div>
    <hr />
  </div>
</div>

<!--- Cards -->
<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-md-6">
      <div class="card h-100">
        <a href="/services.html#prenatal">
          <img class="card-img-top img-fluid" src="/images/prenatal.jpg" alt="" />
          <div class="card-body">
            <h4 class="card-title">Prenatal Care</h4>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card h-100">
        <a href="/services.html#postpartum">
          <img class="card-img-top img-fluid" src="/images/postpartum.png" alt="" />
          <div class="card-body">
            <h4 class="card-title">Postpartum Care</h4>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card h-100">
        <a href="/services.html#general">
          <img class="card-img-top img-fluid" src="/images/general.jpg" alt="" />
          <div class="card-body">
            <h4 class="card-title">General Psychotherapy</h4>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card h-100">
        <a href="/services.html#emdr">
          <img class="card-img-top img-fluid" src="/images/emdr.jpg" alt="" />
          <div class="card-body">
            <h4 class="card-title">EMDR</h4>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<!--- Two Column Section -->
<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-lg-6 align-self-center">
      <img src="/images/zoe-headshot-border.png" class="img-fluid" alt="" />
    </div>
    <div class="col-lg-6">
      <h2>Meet Zoë</h2>
      <p>
        I provide a space for reflection and rest. I am here to listen to you
        and to help you articulate what you are experiencing and feeling.
        Together we will create solutions to complex problems and leave you
        feeling confident that you are not alone.
      </p>
      <p>
        I have significant and varied experience working with women in numerous
        contexts and take a compassionate, solution-oriented approach. I offer
        daytime and evening hours in both Pennsylvania and North Carolina. Feel free to reach out for a free initial
        phone consultation.
      </p>
      <br />
      <a href="/about.html" class="btn btn-primary">Learn More</a>
    </div>
  </div>
</div>

<!--- Two Column Section -->
<div class="container-fluid padding" id="postpartum">
  <div class="row d-flex flex-column-reverse flex-lg-row">
    <div class="col-lg-6">
      <h2>Have Questions?</h2>
      <p>
        From questions about pricing and insurance to whether or not you can
        bring your baby to a counseling sessions, there may be a few things you
        want to know before scheduling an appointment. I want to help make you
        comfortable, so I compiled a few of the most frequently asked questions
        and answered them on a separate page.
      </p>
      <p>
        If there are any questions you would like added to this section that you
        believe would be helpful to you or others to have answered, please give
        me a call or send me an email. My contact information is in the footer.
      </p>
      <br />
      <a href="/faq.html" class="btn btn-primary">Visit the FAQ</a>
    </div>
    <div class="col-lg-6 align-self-center">
      <img src="/images/faq--border.jpg" class="img-fluid" alt="" />
    </div>
  </div>
</div>

<figure>
  <div class="fixed-wrap">
    <div id="fixed"></div>
  </div>
</figure>
