<!--- Hero Image -->
<div class="container-fluid services-hero"></div>

<!--- One Column Section -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2 col-xs-10 offset-xs-1">
            <h2 class="display-4 text-center">Other Services</h2>
            <hr class="light">
        </div>
    </div>
</div>

<!--- Two Column Section -->
<div class="container-fluid padding" id="prenatal">
    <div class="row padding">
        <div class="col-lg-6 align-self-center">
            <img src="/images/prenatal--border.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6">
            <h2>Prenatal Care</h2>
            <p>Pregnancy is a baffling season of transition. Even the smoothest pregnancies require constant adjustment and adaptation. In many cases, pregnancy is a time with complex and difficult feelings.</p> 
            <p>I provide support to women and couples negotiating these feelings as well as to those encountering prenatal anxiety and depression. I also work with those experiencing perinatal loss.</p>
            <br>
            <button class="btn btn-primary js-typeform">Connect</button>
        </div>
    </div>
</div>

<!--- Two Column Section -->
<div class="container-fluid padding" id="postpartum">
    <div class="row padding d-flex flex-column-reverse flex-lg-row ">
        <div class="col-lg-6">
            <h2>Postpartum Care</h2>
            <p>In recent years, research has been devoted to the significant challenge posed by the storm of life transitions, hormones, and emotions that we call postpartum. Every woman needs significant and multifaceted support during this time.</p>
            <p>I am passionate about providing postpartum women and couples with attentive care. I work with those experiencing postpartum anxiety, depression, difficulty transitioning into parenthood, and birth trauma.</p>
            <br>
            <button class="btn btn-primary js-typeform">Connect</button>
        </div>
        <div class="col-lg-6 align-self-center">
            <img src="/images/postpartum--border.jpg" class="img-fluid" alt="">
        </div>
    </div>
</div>