// hide the banner after it's been exited out of


<div class="alert alert-info alert-dismissible fade show fixed-top" role="alert" data-banner>
    <strong>I started a private practice with another therapist!</strong> Learn more about <a class="text-secondary" href="https://www.wellwomennc.com/contact" target="_blank"><u>Well Women: Counseling & Consulting</u></a>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>